DJANGO_SECRET_KEY=[DJANGO_SECRET_KEY]
DJANGO_DEBUG=[DJANGO_DEBUG]
DJANGO_ALLOWED_HOSTS=[DJANGO_ALLOWED_HOSTS]
NIVEL_LOG=[NIVEL_LOG]

API_KEY=[API_KEY]
API_KEY_HEADER=[API_KEY_HEADER]

PORT_WEB=[PORT_WEB]
PORT_DEBUGPY=[PORT_DEBUGPY]

AIRFLOW_CONN_ABRANGENCIA_POSTGRES=[AIRFLOW_CONN_ABRANGENCIA_POSTGRES]
DB_POOL_SIZE=[DB_POOL_SIZE]

ABRANGENCIA_ANO_LETIVO=[ABRANGENCIA_ANO_LETIVO]
