DJANGO_SECRET_KEY=[DJANGO_SECRET_KEY]
DJANGO_DEBUG=[DJANGO_DEBUG]
DJANGO_ALLOWED_HOSTS=[DJANGO_ALLOWED_HOSTS]

SME_SERVICE_NAME=abrangencia-ms
SME_SERVICE_VERSION=0.1.0
SME_ENVIRONMENT=local
SME_TIMEOUT_SECONDS=10
SME_LOG_LEVEL=INFO
SME_LOG_FORMAT=json

SME_OTEL_ENABLED=true
SME_OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:8200
SME_OTEL_EXPORTER_OTLP_HEADERS=Authorization=Bearer%20token
SME_OTEL_EXPORTER_OTLP_INSECURE=true

SME_BROKER_URL=amqp://usuario:senha@localhost:porta/%2F
SME_LOG_QUEUE=

API_KEY=[API_KEY]
API_KEY_HEADER=[API_KEY_HEADER]

PORT_WEB=[PORT_WEB]
PORT_DEBUGPY=[PORT_DEBUGPY]

AIRFLOW_CONN_ABRANGENCIA_POSTGRES=[AIRFLOW_CONN_ABRANGENCIA_POSTGRES]
DB_POOL_SIZE=[DB_POOL_SIZE]

ABRANGENCIA_ANO_LETIVO=[ABRANGENCIA_ANO_LETIVO]
